<h1>Add a Cuisine</h1>

<form action="/stylists" method="post">
  <label for="input-stylist-name">Enter cuisine here:</label>
  <input id="input-stylist-name" name="input-stylist-name" type="text">
  <button type="submit" class="btn btn-success">Add Cuisine</button>
</form>
