<h1>All Stylists</h1>

<ul>
  #foreach ($each-stylist in $stylists)
    <li><a href="/stylists/$each-stylist.getId()">$each-stylist.getName()</a></li>
  #end
</ul>

<a href="/stylists/new" class="btn btn-primary">Add a New Stylist</a>
